#calc-app {
  margin-top: 30px;
}
.isCalc h4 {
  color: #333;
}
#calc-app.isSchool h2 {
  font-size: 23px;
  line-height: 30px;
}
#calc-app.isSchool h2 + p,
.tf-step {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
}
.tf .tf-step + h5 {
  margin-top: 15px;
}
#calc-app h4 {
  margin-top: 35px;
}
p.tf-step span {
  color: $primary-color;
  font-weight: 700;
}

.tf-leader {

}
.tf .actions {
  .isCalc & {
    margin-bottom: 30px;
  }
}
.tf a.a-btn {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}
.tf button.action {
  //color: #333;
  //border: 2px solid #333;
  //background-color: #f2f2f2;
  //padding: 13px 20px;
  //font-family: neue, sans-serif;
  //font-size: 1em;
  //font-weight: 800;
  //cursor: pointer;
}
.tf .a-btn.reset {
  margin-top: 10px;
}
@media screen and (min-width: 640px) {
  .tf .a-btn.reset {
    margin-top: 0;
    margin-left: 20px;
  }
}
.tf button.action.highlight {
  //color: #fff;
  //background-color: $primary-color;
}
.tf button.action:focus {outline:0;}
/*button.has-tooltip {*/
/*  background-color: black;*/
/*  color: #fff;*/
/*  font-weight: 900;*/
/*  font-family: neue, sans-serif;*/
/*  vertical-align: super;*/
/*  font-size: 6px;*/
/*  padding: 3px 5px;*/
/*  border: 0;*/
/*}*/
/*.tooltip .tooltip-inner {*/
/*  background: white;*/
/*  color: black;*/
/*  padding: 5px 10px 4px;*/
/*  box-shadow: 1px 1px 5px #ccc;*/
/*}*/
.tf-hasLegend {
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: #e42a1d;
  }
  svg {
    width: 12px;
    vertical-align: top;
    margin-left: 3px;
  }
}
.tf-degreeLegend {
  font-size: 13px;
  line-height: 1.8;
  ul {
    margin: 7px 0 0;
    padding: 0;
    li {
      float: left;
      line-height: 1;
      padding-right: 13px;
      padding-bottom: 11px;
    }
  }
  p {
    margin: 0 0 10px;
  }
}
.tf-error {
  color: $primary-color;
}
.tf {
  background-color: #f2f2f2; /* #f2f2f2 */
  padding: 20px;
  /*border: 2px solid #333;*/

  /* http://stripesgenerator.com/ */
  /*background-image: linear-gradient(135deg, #ffffff 35.71%, #cccccc 35.71%, #cccccc 50%, #ffffff 50%, #ffffff 85.71%, #cccccc 85.71%, #cccccc 100%);*/
  /*background-size: 9.90px 9.90px;*/
}
.tf--calcBox {
  margin-top: 20px;
  padding: 15px 20px 10px;
  > div {
    margin-bottom: 10px;
  }
  p {
    font-size: 17px;
    margin: 12px 0;
  }
}
.tf--calcBox h2, .tf--calcBox h5 {
  margin-top: 0;
}
.tf-selectorLabel {
  font-family: neue, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0;
  margin-top: 12px;
  display: inline-block;
}
.tf-selectorLabel--noMargin {
  margin-top: 0;
}
.tf-selector {
  /*vertical-align: bottom;*/
  /*margin: 0 10px;*/
  margin: 4px 0 0;
  font-size: 16px;
  /*font-size: 17px;*/
  font-family: neue, sans-serif;
  line-height: 1.2;
  /*padding: 7px 25px 7px 10px;*/
  padding: 6px 25px 6px 10px;
  max-width: 100%;
  box-sizing: border-box;
  /*border: 2px solid #333;*/
  border: 0;
  /*border-radius: 0;*/
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /*background-color: #f2f2f2;*/
  background-color: #d6d6d6;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  /*background-position: right 10px top 50%;*/
  background-position: right 10px top 60%;
  /*background-size: .65em auto;*/
  background-size: .45em auto;
  @media screen and (min-width: 640px){
    margin: 0 2px 0 6px;
  }
}
.tf-whoAreYou {
  margin: 0 0 25px;
  select {
    /*font-size: 17px;*/
    /*background-color: #ddd;*/
    /*border: 0;*/
    /*border-radius: 4px;*/
    /*margin: 0 2px 0 6px;*/
    /*padding: 5px 25px 5px 10px;*/
    /*background-position: right 7px top 60%;*/
    /*background-size: .45em auto;*/
  }
  //span {
  //  display: inline-block;
  //  margin: 2px 0;
  //  white-space: pre-wrap;
  //}
}
.tf-selector::-ms-expand {
  display: none;
}
.tf-selector:hover {
  border-color: #888;
}
.tf-selector:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}
.tf-selector option {
  font-weight:normal;
}
p.tf-tuitionMessage {
  margin-bottom: 5px;
}
p.tf-smallNote {
  font-size: .7em;
  margin: -10px 0 0;
  color: #444;
}
.tf input[type=checkbox] {
  opacity: 0;
}
.tf-checkboxWrap {
  position: relative;
  label {
    padding-left: 10px;
    cursor: pointer;
  }
  input:checked + .tf-checkbox span {
    background-color: #333;
    -webkit-print-color-adjust: exact;
  }
}
.tf-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #333;
  position: absolute;
  left: 0;
  top: 5px;
  span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin: 2px;
  }
}
.tf-range {
  margin: 5px 0 0;
  width: 250px;
  display: block;
  @media screen and (min-width: 640px){
    display: inline;
    margin: 0 16px 0 20px;
  }
}
.tf--totalsBox {
  p {
    line-height: 1.6;
  }
  span {
    font-weight: 800;
    font-size: 1.5em;
    padding-left: 10px;
  }
}
// Custom Radio Buttons
.tf-radio {
  color: #000;
  display: inline-block;
}
.tf-radio__label {
  line-height: 1;
  cursor: pointer;
  margin: 0 15px 0 6px;
}
.tf-radio__input {
  display: inline-block;
  vertical-align: middle;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .tf-radio__control span {
      background: #333;
      -webkit-print-color-adjust: exact;
    }
  }
}
.tf-radio__control {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #333;
  margin-left: -8px;
  span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin: 2px;
  }
}

.tf--showNote {
  margin-top: 0;
  font-size: 18px;
  font-weight: 800;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
  svg {
    width: 12px;
    vertical-align: top;
    margin-left: 3px;
  }
}
.tf--showNote__content {
  margin-top: 10px;
  padding: 20px;
  background-color: #eee;
  font-size: 16px;
  p:first-child, h3:first-child {
    margin-top: 0;
  }
  strong {
    font-weight: 600;
  }
}

.tf--legalText {
  p {
    font-size: 13px;
    line-height: 1.8;
    margin-top: 10px;
  }
}
.tf-semesterLabel {
  text-transform: uppercase;
  font-size: 14px;
}
