.tf-infoPane {

  display: none;

  @media screen and (min-width: 640px){
    display: block;
  }

  background-color: #fff;
  padding: 15px;
  border: 2px solid #000;

  font-size: .9em;
  line-height: 1.3em;

  p {
    margin: 0 0 10px;
  }
  .debug {
    margin-top: 40px;
    opacity: 0.3;
  }
  h5:first-child {
    margin-top: 0;
  }
  h5 {
    margin: 25px 0 0;
    font-size: 15px;
  }
  .tf--legalText {
    margin-top: 40px;
    .m-drawers__toggle.m-drawers__toggle {
      line-height: 1;
      padding: 6px 40px 15px 0;
      &:before {
        left: unset;
      }
    }
    span {
      font-size: 14px;
    }
    .m-drawers__content.m-drawers__content {
      padding-bottom: 15px;
    }
  }
}
.tf-infoPane__incomplete {
  color: $primary-color;
}
.tf-infoPane__acadYear {
  margin: 0;
  font-size: 12px;
  color: #999;
}
.tf-infoPane__term {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
// override site style
.m-sidebarModule__content p:first-child {
  margin-bottom: 10px;
}
.tf-infoPane__degree {
  margin-bottom: 10px;
  span {
    font-weight: 700;
  }
}
.tf-infoPane__amount {
  float: right;
  font-weight: 700;
}

.tf-infoPane__totalMessage {
  .tf-infoPane__total:first-child {
    font-weight: 800;
    font-size: 1.8em;
    text-align: right;
    margin: 10px 0 15px;
  }
}

.tf-stickySidebar {
  position: sticky;
  top: -475px;
}
