.tf-clearSelection {
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 2px 12px 2px 4px;
  background-color: #f2f2f2;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  transition: background-color 400ms;
  &:hover {
    background-color: #e9e9e9;
  }
  svg {
    width: 22px;
    margin-right: 3px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
}
#tf-table--meals tbody td:nth-last-child(2) {
  width: 100px;
}
.tf-infoNotes {
  background-color: #f2f2f2;
  td {
    padding: 20px 20px 40px 20px;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
    li {
      margin-bottom: 10px;
    }
  }
}
.tf-table tbody td {
  width: unset;
}
.tf-table--tuition tbody td {
  width: 20%;
}
@media screen and (max-width: 39.9375em) {
  .a-tableWrapperSlider {
    padding-left: 8px;
  }
}
.a-tableWrapper {
  margin: 5px 0 45px;
}
.tf-table {
  margin: 0;
  //tr.odd {
  //  background-color: #eee;
  //}
}
.tf-table thead th {
  border-bottom: 1px solid #d9d9d9;
}
table td:nth-of-type(2) {
  text-align: left;
}
/* 3-col tables, no calc */
.tf-table__on tbody td:first-child:nth-last-child(3)~td {
  padding-right: 40px;
  width: 33.333%;
}
/* table checkbox td, 3 cols */
/* checkbox width, 4 cols */
.tf-table table tr th:first-child,
.tf-table tr td:first-child,
.tf-table.active tbody td:first-child:nth-last-child(4) {
  width: 25px;
  padding-right: 10px;
  min-width: unset;
}
/* tds after checkbox width, 4 cols */
.tf-table.active tbody td:first-child:nth-last-child(4) ~ td {
  width: 33%;
}
.tableCheckBox div {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50px;
  border: 2px solid #333;
  cursor: pointer;
}
.tableCheckBox span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 2px;
}
.highlight .tableCheckBox span {
  background-color: #333;
  -webkit-print-color-adjust: exact;
}
.a-table tbody tr.is-open td {
  border-bottom: 0;
}
.tf-hasNote {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: #e42a1d;
  }
  svg {
    width: 12px;
    vertical-align: top;
    margin-left: 3px;
  }
}
.filtered td {
  width: 50%;
}
.tf-table.filtered td:first-child {
  width: 33%;
}
.tf-table.filtered td:last-child {
  width: 66%;
}
td.dim,
th.dim,
tr.dim td {
  opacity: 0.15;
}
.tf-table.tf-table__housing tr td{
  &:nth-child(1) {
    width: 66.66%;
  }
  &:nth-child(2) {
    width: 33.33%;
  }
}
.tf-incompleteStep {
  color: $primary-color;
}
