// COLORS
$white: #fff;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #000;

$primary-color: #e42a1d;
$secondary-color: #666;
$disable-color: #ffe000;
$error-color: #e42a1d;

// TEXT
$global-weight-normal: normal;
$global-lineheight: 1.5;
$global-radius: 3px;

