<div class="tf-whoAreYou">
<span>I am a</span>
<select v-model="isNewStudent" id="isNewStudent" class="tf-selector" @change="update">
  <option v-bind:value="0"> -- select -- </option>
  <option v-bind:value="true">new</option>
  <option v-bind:value="false" >returning</option>
</select>
<span>,</span>
<select v-model="isInternational" id="isInternational" class="tf-selector" @change="update">
  <option v-bind:value="0"> -- select -- </option>
  <option v-bind:value="true">international</option>
  <option v-bind:value="false" >U.S. domestic</option>
</select>
<span>&nbsp;student,</span>
<select v-model="hasInsurance" id="hasInsurance" class="tf-selector" @change="update">
  <option v-bind:value="0"> -- select -- </option>
  <option v-bind:value="true">with</option>
  <option v-bind:value="false" >without</option>
</select>
<span>&nbsp;my own health insurance,</span> <span>who will live</span>
<select v-model="whereLive" id="whereLive" class="tf-selector" @change="update">
  <option v-bind:value="0"> -- select -- </option>
  <option value="oncampus" >on campus</option>
  <option value="offcampus" >off campus</option>
  <option value="withfamily">with family</option>
</select>
<span>.</span>
</div>