<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>tns-tuition-app</title>

    <link rel="stylesheet" href="https://fonts.newschool.edu/fonts/fonts.css" />
    <link rel="stylesheet" href="https://www.newschool.edu/assets/css/app.css" type="text/css" />
    <link rel="stylesheet" href="https://www.newschool.edu/assets/css/centennial_primary.css" type="text/css" />

  </head>
  <body>
    <noscript>
      <strong>We're sorry but tns-tuition-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <main>
      <div class="row">
        <div class="columns large-10">
          <!-- parsons: 3 -->
          <div id="calc-app" data-school-id="3"></div>
          <!-- built files will be auto injected -->
        </div>
      </div>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyB9JTmhKYqQefcd9rouWz38ioCUr1zM8"></script>
    <script src="https://www.newschool.edu/assets/js/app.js"></script>

  </body>
</html>
