<template>
  <svg id="icon--close" viewBox="0 0 35 35">
    <rect x="17" y="5.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.7487 17.7071)" width="2" height="22.6"/>
    <rect x="6.7" y="16" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.7487 17.7071)" width="22.6" height="2"/>
  </svg>
</template>