<script>
    import drawer from './drawer';

    export default {
        name: 'legalText',

        props: {
            label: null,
            text: null
        },

        components: { drawer }

    }
</script>

<template>
    <ul class="m-drawers tf--legalText" role="tablist" data-accordion data-allow-all-closed="true" data-multi-expand="false">
        <drawer :title="label">
              <div v-html="text" />
        </drawer>
    </ul>
</template>